@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@100&display=swap');


.showcases{
    background: black;
    width: 100%;
}

.background{ 
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url(../../images/grad1.jpg) center/ cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    

}
/* sign up form starts */

.form1{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 570px;
    width: 350px;
    background: linear-gradient(rgb(2, 100, 0), rgba(8, 8, 213, 0.241));
    color: white;
    transform: translate(-50%,-50%);
    border-radius: 10px;

}
.forminput{
    width: 100%;
    padding: 5px 0;
    margin: 5px 20px;

}

 .form1 .forminput input{
    outline: none;
    border: none;
    width: 300px;
    
}
.phrase{
    padding-top: 20px;

}
.form1 .phrase h1{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

.form1 .phrase p{
    margin: 0 20px;
}

.form1 .forminput button{
    outline: none;
    border: none;
    background: green;
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 0;
}

.form1 .forminput a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}
/* login form starts */
.form2{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 350px;
    background: linear-gradient(rgb(2, 100, 0), rgba(8, 8, 213, 0.241));
    color: white;
    transform: translate(-50%,-50%);
    border-radius: 10px;

}

.forminput1{
    width: 100%;
    padding: 5px 0;
    margin: 5px 20px;

}

 .form2 .forminput1 input{
    outline: none;
    border: none;
    width: 300px;
    
}
.phrase100{
    padding-top: 20px;

}
.form2 .phrase1 h1{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

.form2 .phrase1 p{
    margin: 0 20px;
}

.form2 .forminput1 button{
    outline: none;
    border: none;
    background: green;
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 0;
}

.form2 .forminput1 a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}

/* end form section */

.container2{
    width: 100%;
    overflow: hidden;

}


.welcome h2{
    margin-top: 80px;
    color: green;
    font-weight:  bold;
    font-size: 20px;
    text-align: center;
}

/* Profile part */
.container3{
    display: flex;
    align-content: space-between;
    height: 83vh;
    overflow: hidden;
   
    
}

.flex1{
    flex: 25%;
    overflow-y: scroll;
}

.flex2{
    flex: 75%;
    overflow: hidden;
}

.upload{
    width: 100px;
    position: relative;
    padding: 0 30px;    
}

.upload img{
    margin: 5px 55px;
    height: 130px;
    width: 130px;
}


.upload .round{
    position: absolute;
    bottom: 22px;
    left: 155%;
    width: 32px;
    height: 32px;
    background: #00b4ff;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    line-height: 33px;
    cursor: pointer;


}

.upload .round input[type="file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;

}

/* demographics */

.demograph h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.demograph h2{
    font-size: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.612);
    font-weight: bold;
}

.update{
    text-align: center;
    margin: 40px 0;
}
.demograph .update a{
    text-decoration: none;
    padding: 10px 30px;
    background: rgba(181, 101, 101, 0.149);
    border-radius: 10px;
    color: black; 
}
.details{
    margin: 10px 22px;
}

.details p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.details h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-color: whitesmoke;
    padding: 5px 5px;
   
}
/* flex2 section */

.activities{
    display: flex;

}
.feespaid{
    background: #deebff;
    width: 260px;
    height: 150px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 15px 20px;
}

.feespaid i{
    font-size: 33px;
    padding: 10px 20px;
    color: #4682b4;
}
.feespaid h1{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4682b4;

}

.feespaid p{
    font-size: 19px;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4682b4;


}



.coursereg{
    background: whitesmoke;
    width: 260px;
    height: 150px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 15px 20px;
}

.coursereg i{
    font-size: 33px;
    padding: 10px 20px;
    color: darkgreen;
}
.coursereg h1{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkgreen;

}

.coursereg p{
    font-size: 19px;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkgreen;


}


.results{
    background: whitesmoke;
    width: 260px;
    height: 150px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 15px 20px;
}

.results i{
    font-size: 33px;
    padding: 10px 20px;
    color: grey;
}
.results h1{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;

}

.results p{
    font-size: 19px;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;


}