@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@100&display=swap');


.showcases{
    background: black;
    width: 100%;
}

.background{ 
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url(../../images/grad1.jpg) center/ cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    

}
/* sign up form starts */

.form1{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 570px;
    width: 350px;
    background: linear-gradient(rgb(2, 100, 0), rgba(8, 8, 213, 0.241));
    color: white;
    transform: translate(-50%,-50%);
    border-radius: 10px;

}
.forminput{
    width: 100%;
    padding: 5px 0;
    margin: 5px 20px;

}

 .form1 .forminput input{
    outline: none;
    border: none;
    width: 300px;
    
}
.phrase{
    padding-top: 20px;

}
.form1 .phrase h1{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

.form1 .phrase p{
    margin: 0 20px;
}

.form1 .forminput button{
    outline: none;
    border: none;
    background: green;
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 0;
}

.form1 .forminput a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}
/* login form starts */
.form2{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 350px;
    background: linear-gradient(rgb(2, 100, 0), rgba(8, 8, 213, 0.241));
    color: white;
    transform: translate(-50%,-50%);
    border-radius: 10px;

}

.forminput1{
    width: 100%;
    padding: 5px 0;
    margin: 5px 20px;

}

 .form2 .forminput1 input{
    outline: none;
    border: none;
    width: 300px;
    
}
.phrase100{
    padding-top: 20px;

}
.form2 .phrase1 h1{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

.form2 .phrase1 p{
    margin: 0 20px;
}

.form2 .forminput1 button{
    outline: none;
    border: none;
    background: green;
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 0;
}

.form2 .forminput1 a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}

/* end form section */

.container2{
    width: 100%;
    overflow: hidden;

}


.welcome h2{
    margin-top: 80px;
    color: green;
    font-weight:  bold;
    font-size: 20px;
    text-align: center;
}

/* Profile part */
.container3{
    display: flex;
    align-content: space-between;
    height: 83vh;
    overflow: hidden;
   
    
}

.flex1{
    flex: 25%;
    overflow-y: scroll;
}

.flex2{
    flex: 75%;
    overflow-y: scroll;
}

.upload{
    width: 100px;
    position: relative;
    padding: 0 30px;    
}

.upload img{
    margin: 5px 55px;
    height: 130px;
    width: 130px;
}


.upload .round{
    position: absolute;
    bottom: 22px;
    left: 155%;
    width: 32px;
    height: 32px;
    background: #00b4ff;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    line-height: 33px;
    cursor: pointer;


}

.upload .round input[type="file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;

}

/* demographics */

.demograph h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.demograph h2{
    font-size: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.612);
    font-weight: bold;
}

.update{
    text-align: center;
    margin: 40px 0;
}
.demograph .update a{
    text-decoration: none;
    padding: 10px 30px;
    background: rgba(181, 101, 101, 0.149);
    border-radius: 10px;
    color: black; 
}
.details1{
    margin: 10px 22px;
}

.details1 p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.details1 h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-color: whitesmoke;
    padding: 5px 5px;
   
}
/* flex2 section */

.activities{
    display: flex;

}
.feespaid{
    background: #deebff;
    width: 260px;
    height: 150px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 15px 20px;
}

.feespaid i{
    font-size: 33px;
    padding: 10px 20px;
    color: #4682b4;
}
.feespaid h1{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4682b4;

}

.feespaid p{
    font-size: 19px;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4682b4;


}



.coursereg{
    background: whitesmoke;
    width: 260px;
    height: 150px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 15px 20px;
}

.coursereg i{
    font-size: 33px;
    padding: 10px 20px;
    color: darkgreen;
}
.coursereg h1{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkgreen;

}

.coursereg p{
    font-size: 19px;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkgreen;


}


.results{
    background: whitesmoke;
    width: 260px;
    height: 150px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 15px 20px;
}

.results i{
    font-size: 33px;
    padding: 10px 20px;
    color: grey;
}
.results h1{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;

}

.results p{
    font-size: 19px;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;


}

/* activities section */
.Activities h1{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
}

.log{
    background: mintcream;
    width: 93%;
    height: 100%;
    border-radius: 5px;
}

.log .check{
    padding: 5px 20px;
}
.log .check a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(0,0,255,0.6);
    font-family:'Trebuchet MS','Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    font-style:italic;
    cursor: pointer;
}

.log .check p{
    color: #696969;
    font-style: italic;
    padding: 0 10px;
}

.check h3{
    font-size: 12px;
    color:rgba(0,0,0,0.5);
    padding: 0 10px;
    font-weight: bold;
}


.Activities h2{
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
}

/* registered course section */
.register{
    margin: 80px 30px;
    color: black;
    max-width: 100vw;
}

.register h1{
    font-size: 22px;
}

.register table{
    width: 1210px;
    height: 30%;
}
 .register h2{
    width: 1210px;
    background: #abc7c7	;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}
table tr {
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
table th{
    background: #9cabb8	;
    color:rgba(0,0,0,0.9);
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    font-family:'Trebuchet MS','Lucida Sans', Arial, sans-serif;
    font-weight: bold;

}

table td{
    padding: 15px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

/* DEMOGRAPHICS SECTION */

.detail1 img{
    width: 250px;
    align-items: center;
}


.details{
    display:grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 30px 10px;

}


.detail2{
    
}

.detail3{
    flex: 40%;
}

.demo1{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto ;
}


.demo1 h1{
    font-size: 15px;
    padding: 5px 20px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* approval page */


.signings{
    margin: 10px 40px;
    display: flex;
    text-align: center;
}
.dignies1{
    flex: 50%;
}

.dignies2{
    flex: 50%;
}
.signings .dignies1 h1{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0;
}

.signings .dignies1 p{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0;
}

.signings .dignies2 h1{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0;
}

.signings .dignies2 p{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0;
}




.signings1{
    margin: 100px 40px;
    display: flex;
    text-align: center;
}
.dignies11{
    flex: 50%;
}

.dignies12{
    flex: 50%;
}
.signings1 .dignies11 h1{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0;
}

.signings1 .dignies11 p{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0;
}

.signings1 .dignies12 h1{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0;
}

.signings1 .dignies12 p{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0;
}

hr{
    margin: 10px 35px;

}

.coded{
    text-align: center;
}

.text p{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 20px;

}

/* button */

.button{
    text-align: right;
    padding: 20px 5px;
}

.button input{
    padding: 5px 30px;
    background: skyblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* Regsitration Page */

.register1{
    margin: 100px 30px;
    color: black;
    max-width: 100vw;
}

.register1 h1{
    font-size: 22px;
    width: 100%;
    margin: 50px 0;
}

.register1 table{
    width: 100%;
    height: 30%;
}
 .register1 h2{
    width: 100%;
    background: #abc7c7	;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}
table tr {
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
table th{
    background: #9cabb8	;
    color:rgba(0,0,0,0.9);
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    font-family:'Trebuchet MS','Lucida Sans', Arial, sans-serif;
    font-weight: bold;

}

table td{
    padding: 15px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}


/* school fees section */

.container10{
    margin: 0 160px;
    overflow: visible;
}

.register2{
    margin-top: 100px;
    margin-bottom: 40px;
    color: rgba(0,0,0,0.8);
    font-weight: bold;
    font-family: Georgia ;

}
.register2 p {
    font-size: 15px;
    font-family: 200;
}

.register2 h1{
    font-size: 22px;
}

.inputin hr{
    width: inherit;
}

.inputin{
    width: 100%;
    height: auto;
    background-color: mintcream;
    opacity: 0.9;
    overflow: visible;
    border: 2px Solid rgba(0,0,0,0.1); 
    padding: 5px 0px; 
}

.inputin h2{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 5px 15px;
    font-weight: bold;
    font-size: 15px;

}

.input1{
    display: grid;
    grid-template-columns: 30%  70%;
    grid-template-rows: 30%  70%;
    padding: 20px 15px;
}

.input1 h4{
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}



.input1 select{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 15px;
}

.button1{
    text-align: right;
    padding: 10px 40px;
}

.button1 input{
    padding: 4px 5px;
    background: green;
    color: white;
    font-family: serif;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.2);

}
 
.input1:nth-child(3){
    border-bottom: 2px solid rgba(0,0,0,0.2); 
}
/* .line{
    border-top: 2px solid rgba(0,0,0,0.2);
    width: 100%;
} */






























/* media queries */
@media only screen and (max-width: 1200px){
    .flex1{
        display: none;
    }
    .flex2{
        overflow: visible;
    }

    .container3{

        overflow: visible;
        
    }
    

    .activities{
        flex-direction: column;
        align-items: center;       
        
    }

    .navbar{
        margin: 20px 0;
    }
    
    .log{
        background: mintcream;
        width: 93%;
        height: 100%;
        border-radius: 5px;
        margin: 0 auto;
    }

    .Activities h2{
        padding: 10px 15px;
    }

    /* details part */
    .details{
        display:grid;
        grid-template-rows: 500px 400px 200px;
        grid-template-columns: auto auto auto;
    }

    .detail2{
        justify-self: right;
    }
    /* register course section */
    .register1{
        margin: 80px 20px;
        color: black;
        overflow: hidden;
    }
    
    .register1 h1{
        font-size: 22px;
        width: 100%;
    }
    
    .register1 table{
        width: 100%;
        height: 30%;
    }
    

    table tr {
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }
    table th{
        background: #9cabb8	;
        color:rgba(0,0,0,0.9);
        padding: 5px 10px;
        font-size: 13px;
        font-weight: bold;
        font-family:'Trebuchet MS','Lucida Sans', Arial, sans-serif;
    
    }
    
    table td{
        padding: 15px 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 10px;
    
    
    }
    
    /* end of regsiter page section */
    
    
}

@media only screen and (max-width: 600px){
    .register1{
        margin: 80px 10px;
        color: black;
    }
    
    .register1 h1{
        font-size: 22px;
        width: 100%;
    }
    
    /* pay school fees section */


    .inputin{
        width: 100%;
        height: auto;
        background-color: mintcream;
        opacity: 0.9;
        overflow: visible;
        border: 2px Solid rgba(0,0,0,0.1); 
    }

    .container10{
        margin: 0 5px;
    }

    .input1{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .input1 select{
        width: 100%;
        height: 40px;
        margin:  0 0;
        padding: 0 0;

    }

   
}
