@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@100&display=swap');


.showcases{
    background: black;
    width: 100%;
}

.background{ 
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url(../../images/grad1.jpg) center/ cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    

}
/* sign up form starts */

.form1{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 570px;
    width: 350px;
    background: linear-gradient(rgb(2, 100, 0), rgba(8, 8, 213, 0.241));
    color: white;
    transform: translate(-50%,-50%);
    border-radius: 10px;

}
.forminput{
    width: 100%;
    padding: 5px 0;
    margin: 5px 20px;

}

 .form1 .forminput input{
    outline: none;
    border: none;
    width: 300px;
    
}
.phrase{
    padding-top: 20px;

}
.form1 .phrase h1{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

.form1 .phrase p{
    margin: 0 20px;
}

.form1 .forminput button{
    outline: none;
    border: none;
    background: green;
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 0;
}

.form1 .forminput a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}
/* login form starts */
.form2{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 350px;
    background: linear-gradient(rgb(2, 100, 0), rgba(8, 8, 213, 0.241));
    color: white;
    transform: translate(-50%,-50%);
    border-radius: 10px;

}

.forminput1{
    width: 100%;
    padding: 5px 0;
    margin: 5px 20px;

}

 .form2 .forminput1 input{
    outline: none;
    border: none;
    width: 300px;
    
}
.phrase100{
    padding-top: 20px;

}
.form2 .phrase1 h1{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

.form2 .phrase1 p{
    margin: 0 20px;
}

.form2 .forminput1 button{
    outline: none;
    border: none;
    background: green;
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 0;
}

.form2 .forminput1 a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}

/* end form section */

.container2{
    width: 100%;

}

.welcome {
    height: 400px;
}

.welcome h2{
    margin-top: 80px;
    color: green;
    font-weight:  bold;
    font-size: 20px;
    text-align: center;
}

/* Profile part */
.container3{
    width: 230px;
}

.upload{
    position: relative;
    width: 400px;
    padding: 0 30px;


    
}

.upload img{
    position: absolute;
    height: 130px;
    width: 130px;
    bottom: 220px;
}


.upload .round{
    position: absolute;
    bottom: 226px;
    overflow: hidden;
    line-height: 33px;

}

.upload .round input[type="file"]{
    position: absolute;
    padding-bottom: 30px;
    transform: scale(2);
    cursor: pointer;
    opacity: 0;

}

.upload .round i{
    margin: 20px 70px;
    background: skyblue;
    border-radius: 50%;
    padding: 5px 5px;
}
/* demographics */
.demograph{
    
}

.demograph h1{
    margin-bottom: 30px;
}