@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@100&display=swap');


.showcases{
    background: black;
    width: 100%;
}

.background{ 
    background: linear-gradient(rgba(2,100,0,0.6), rgba(0,0,0,0.8)), url(../../images/grad1.jpg) center/ cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    

}

.form1{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 550px;
    width: 350px;
    background: linear-gradient(rgb(2, 100, 0), rgba(8, 8, 213, 0.241));
    color: white;
    transform: translate(-50%,-50%);
    border-radius: 10px;

}
.forminput{
    width: 100%;
    padding: 5px 0;
    margin: 5px 20px;

}

 .form1 .forminput input{
    outline: none;
    border: none;
    width: 300px;
    
}
.phrase{
    padding-top: 20px;

}
.form1 .phrase h1{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}

.form1 .phrase p{
    margin: 0 20px;
}

.form1 .forminput button{
    outline: none;
    border: none;
    background: green;
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.form1 .forminput a{
    text-decoration: none;
    color: green;
}

